@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Global styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

:root {
    --background-color: #282828;
    --border-color: #3E3E3E;
    --primary-color: #fff;
    --menu-hover-color: #1F1F1F;
    --scrollbar-thumb-color: #606060;
    --scrollbar-thumb-hover-color: #555;
    --black-color: #000;
    --dark-gray-color: #161616;
    --white-opacity: rgba(255, 255, 255, 0.7);
}